//META{"name":"Spoiler_Tag","description":"Spoiler tag for discord. Usage: ****Spoiler****","author":"Pu","version":"1.0"}*//{}

.message-group .comment .markup em strong {
    background-color: black !important;
    border-radius: 5px !important;
    color: transparent;

}

.message-group .comment .markup em strong:hover {
    color: rgba(255,255,255,.7) !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    transition: .3s !important;
    font-weight: normal !important;
    font-style: normal !important;
    transition-delay: 0.5s !important;
}

.message-group .comment .markup em strong:before {
    content: "Spoiler";
    color: white;
    padding-left: 5px;
    transition: display .3s !important;
    transition-delay: 0.5s !important;
}

.message-group .comment .markup:hover em strong:before {
    content:"Spoiler: ";
}
